.vs/
bin/
obj/
**/bin/
**/obj/
.recovery/
deployed/
products/vam/assets/player/build/assetbundle_exports/
products/vam/assets/player/build/releases/
products/vam/assets/player/build/scene_builds/
products/vam/assets/player/build/
products/vam/assets/player/unity/player-screen-2018/Library/
products/vam/assets/player/unity/player-screen-2018/Logs/
products/vam/assets/player/unity/player-screen-2018/Temp/
products/vam/assets/player/unity/player-screen-2018/Obj/
products/vam/assets/player/unity/player-screen-2018/UserSettings/
products/vam/assets/player/unity/player-screen-2018/.vscode/
products/vam/assets/player/unity/player-screen-2018/.vsconfig
products/vam/assets/player/unity/player-screen-2018/*.csproj
products/vam/assets/player/unity/player-screen-2018/*.sln
products/vam/assets/player/unity/player-screen-2018/ProjectSettings/NetworkManager.asset
products/vam/assets/player/unity/player-screen-2018/Assets/FrameAngel/PlayerShell2018Temp/
products/vam/assets/player/unity/player-screen-2018/Assets/FrameAngel/PlayerShell2018Temp.meta
products/vam/assets/player/unity/ghost_training_export_clone/Library/
products/vam/assets/player/unity/ghost_training_export_clone/Logs/
products/vam/assets/player/unity/ghost_training_export_clone/Temp/
products/vam/assets/player/unity/ghost_training_export_clone/Obj/
products/vam/assets/player/unity/ghost_training_export_clone/UserSettings/
products/vam/assets/player/unity/ghost_training_export_clone/.vscode/
products/vam/assets/player/unity/ghost_training_export_clone/.vsconfig
products/vam/assets/player/unity/ghost_training_export_clone/*.csproj
products/vam/assets/player/unity/ghost_training_export_clone/*.sln
products/vam/assets/player/unity/ghost_training_export_clone/ProjectSettings/NetworkManager.asset
products/vam/assets/player/unity/ghost_training_export_clone/Assets/__FrameAngelTemp/
products/vam/assets/player/unity/ghost_training_export_clone/Assets/__FrameAngelTemp.meta
products/vam/assets/player/unity/ghost_training_export_clone/Assets/FrameAngel/PlayerHostCua/
products/vam/assets/player/unity/ghost_training_export_clone/Assets/FrameAngel/PlayerHostCua.meta
products/vam/assets/player/unity/ghost_training_export_clone/Assets/FrameAngel/PlayerHostPackageCua/
products/vam/assets/player/unity/ghost_training_export_clone/Assets/FrameAngel/PlayerHostPackageCua.meta
products/vam/assets/player/unity/ghost_training_export_clone/Assets/TextMesh Pro/Examples & Extras/
products/vam/assets/player/unity/ghost_training_export_clone/Assets/TextMesh Pro/Examples & Extras.meta
